body {
  background-image: url("images/box-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Hind", sans-serif;
}
h1,
h2 {
  text-transform: uppercase;
}

header {
  margin: 0px 150px 0px 150px;
}
#phone-num {
  background-color: #ebebeb;
  text-align: right;
  padding: 5px 25px 5px 25px;
}
.navbar {
  padding: 10px 45px 10px 45px;
  background-color: white;
}
.navbar-brand > img {
  width: 285px;
  height: 75px;
  margin: 12px 2px 12px 2px;
}
.navbar-nav {
  margin-left: 10%;
  display: grid;
  grid-template-columns: 16% 22% 26% 12% 16%;
  width: 100%;
}
.navbar-nav > li > a {
  color: rgb(24, 24, 24);
  font-size: large;
  text-align: center;
  border-right: 1px solid black;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #1a98d6;
  font-weight: bold;
}
#inquiry-btn{
  margin-left: 10px; 
  width: 100%
}
.nav-link:hover{
  border-bottom: 5px solid #1a98d6;
}

#intro {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 75px 150px 0px 150px;
}
#intro div img {
  width: 90%;
  padding-right: 25px;
  padding-left: 55px;
}
#intro article h1 {
  padding: 0px 25px 0px 95px;
  font-size: 67px;
}
#intro article h1::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 7px;
  width: 80px;
  left: 520px;
  background-color: #1a98d6;
}
#intro-cta{
  margin-left: 90px; 
  width: 250px;
}
.btn {
  background-color: #1a98d6;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
#blue-curve-top {
  position: absolute;
  left: 0px;
  top: 325px;
  z-index: -1;
  width: 100%;
}
#companies {
  color: white;
}
#companies article {
  margin: 5px 150px 60px 150px;
  padding: 30px 45px 10px 45px;
}
#companies article h1 {
  font-weight: bold;
  margin-top: 10px;
}
#companies article h1::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 7px;
  width: 80px;
  left: 470px;
  top: 785px;
  background-color: white;
}
#company-cols {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 10px 45px 10px 5px;
}
#company-cols div {
  padding: 16px 45px 10px 45px;
  text-align: center;
}
#company-cols div:nth-child(-n+2){
  border-right: 2px solid white
}
.company-text {
  padding: 15px 0px 10px 0px;
}

#partners article {
  margin: 0px 150px 0px 150px;
  padding: 30px 45px 10px 45px;
}
#slideshow-mob{
  display: none;
}
.company-cta{
  border: 2px solid white
}
#partners article h1::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 7px;
  width: 80px;
  left: 820px;
  top: 1230px;
  background-color: #1a98d6;
}
.slide-show {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px 45px 20px 45px;
}
.slide-show img {
  width: 100%;
  padding: 5px;
}

#services {
  background-color: #ebebeb;
}
#services article {
  margin: 0px 150px 0px 150px;
  padding: 50px 45px 70px 45px;
  display: grid;
  grid-template-columns: 55% 45%;
}
#services-h1::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 7px;
  width: 80px;
  left: 500px;
  top: 1570px;
  background-color: #1a98d6;
}
/* 3x2 diagram for to services */
#service-diagram {
  display: grid;
  grid-template-columns: 49% 49%;
  padding-left: 3%;
}
.services-columns {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  text-align: center;
  grid-gap: 1%;
}
.services-columns div img {
  width: 70px;
  height: 70px;
}
.services-columns div {
  border-bottom: 1px solid black;
  font-weight: bolder;
}
.right div {
  border-left: 1px solid black;
}
.highlight {
  color: #1a98d6;
}
#reference {
  background-color: #1a98d6;
  padding: 30px 45px 30px 45px;
}

#news {
  background-color: white;
}
#news article {
  margin: 0px 150px 0px 150px;
  padding: 50px 45px 70px 45px;
}
#news h1::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 7px;
  width: 80px;
  left: 300px;
  top: 2170px;
  background-color: #1a98d6;
}
#news-container {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 20px;
}
#news-btn{
  text-align: right; 
  padding-right: 30px
}
#news-btn button {
  background-color: white;
  color: #1a98d6;
  font-weight: bold;
  border: 2px solid #1a98d6;
}
#contact-info {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 60px;
  /* margin-bottom: 40px; */
}
#contact-info span{
  font-size: 50px;
}
#contact-info div {
  display: flex;
  text-align: center;
  font-weight: bolder;
  padding-left: 50px;
}

footer {
  background-color: black;
  color: white;
}
#foot-content {
  margin: 0px 150px 0px 150px;
  padding: 50px 45px 30px 45px;
  display: grid;
  grid-template-columns: 45% 13% 22% 20%;
}
#footer-list {
  list-style: none;
  margin-top: 30px;
  padding: 0px;
}
.socialmedia-imgs {
  padding: 15px;
  border: 2px solid white;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
#copyrights {
  padding: 20px 150px 20px 150px;
  background-color: white;
  color: black;
  font-weight: bold;
}
#foot-left{
  text-align: left; 
  font-style: italic
}
#footer-text{
  padding: 20px 40px 2px 0px
}

